<h1>SDVX Lv. <%= @level %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">jacket</th>
      <th scope="col">title</th>
      <th scope="col">chain</th>
      <th scope="col">S許容</th>
      <th scope="col">995許容</th>
      <th scope="col">998許容</th>
      <th scope="col">ver</th>
      <th scope="col">score</th>
      <th scope="col">medal</th>
    </tr>
  </thead>
  <tbody>
  <% puc = 1000 %>
  <% b_990 = 990 %>
  <% b_995 = 995 %>
  <% b_998 = 998 %>
  <% @tunes.each do |t| %>
    <tr>
      <td>
        <img src="<%= t.jacket_img_url %>" class="img-flued" alt="Thumbnail" width="50px" height="50px">
      </td>
      <th scope="row">
      <%= t.title %>
      </th>
      <td><%= t.chain %></td>
      <td><%= (((puc - b_990) * 2 * t.chain) / puc).floor %></td>
      <td><%= (((puc - b_995) * 2 * t.chain) / puc).floor %></td>
      <td><%= (((puc - b_998) * 2 * t.chain) / puc).floor %></td>
      <td><%= t.version %></td>
      <td>
      </td>
      <td></td>
    </tr>
  <% end %>
  </tbody>
</table>




